{% extends "components/navbar.html" %}
{% load static %}
{% block content %}
<h1>Products</h1>

<form method="GET" action="">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Поиск постов" name="search" value="{{ request.GET.search }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        </div>
    </div>
</form>

<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/posts/" class="btn btn-secondary">Все</a>
    {% for tag in tags %}
        <a href="?tag={{ tag.id }}" class="btn btn-secondary">{{ tag.name }}</a>
    {% endfor %}
</div>

<form method="GET" action="">
    <div class="input-group mb-3">
        <select class="custom-select" name="sort">
            <option value="created_at">По дате</option>
            <option value="-created_at">По дате (обратно)</option>
            <option value="rate">По рейтингу</option>
            <option value="-rate">По рейтингу (обратно)</option>
            <option value="name">По названию</option>
            <option value="-name">По названию (обратно)</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Sort</button>
        </div>
    </div>
</form>


{% for product in products %}
    <div class="card" style="width: 18rem;">
        {% if product.image %}
            <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
        {% else %}
            <img src="{% static 'default_logo.png' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.name }} - {{ product.rate }}</h5>
            <p class="card-text">{{ product.title }} - {{ product.price }}</p>
            {% for tag in product.tags.all %}
                <a href="#" class="btn btn-secondary">{{ tag.name }}</a>
            {% endfor %}
            <a href="{{ product.id }}" class="btn btn-primary">More...</a>
        </div>
    </div>
{% endfor %}

<div style="margin-top: auto;" class="d-flex justify-content-center">
    {% for page in all_pages %}
        <a href="?page={{ page }}" style="margin: 5px;">
            <h1>{{ page }}</h1>
        </a>
    {% endfor %}
</div>

{% endblock %}