{% extends "components/navbar.html" %}
{% load static %}
{% block content %}
<h1>Products</h1>
{% for product in products %}
    <div class="card" style="width: 18rem;">
        {% if product.image %}
            <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
        {% else %}
            <img src="{% static 'default_logo.png' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.name }} - {{ product.rate }}</h5>
            <p class="card-text">{{ product.title }} - {{ product.price }}</p>
            <a href="#" class="btn btn-primary">More...</a>
        </div>
    </div>
{% endfor %}

{% endblock %}